# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage directories
coverage/

# Miscellaneous
*.swp
*.swo

# IDE files
.vscode/
.idea/

/server/src/data/user-*
/server/src/data/group-*
